@if $use-gallery == true {
/* ============================================================ */

// GALLERY MODULE

// Description:		Styles for WordPress gallery

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================

.gallery { 
	margin: 0;
	padding: 0;
	@include clearfix;	
}


// GALLERY ROW
// ==========================================================================
.gallery-row {
	@extend .half-gutter;
	clear: both;
	margin-bottom: $baseLineHeight;
}


// GALLERY ITEM
// ==========================================================================

.gallery-item {
	margin-top: 0;
	margin-bottom: $baseLineHeight;
	padding-top: 0;

	a {
		@extend .img-polaroid !optional;
		@include inline-block;

		.lt-ie7 & {
            display: block; // required by IE7 to display layout
        }
	}

	img {
		display: block;
		height: auto;
		margin: 0 auto;
	}
}


// GALLERY CAPTION
// ==========================================================================

.gallery-caption {
	margin: 0;
	padding: 0;
	color: #777;
	font-size: rsize(12px);
	text-align: left;
	line-height: 1.3;
	padding: rsize(10px);
}


// ==========================================================================
// COLUMNS
// ==========================================================================

.gallery-row {
	
	:first-child {
		clear: left;
	}
	
	.col-1 {
		@extend .gc;
	}

	.col-2 {
		@extend .gc;
		@extend .h1-2;
	}

	.col-3 {
		@extend .gc;
		@extend .h1-2;
		@extend .l1-3;
	}

	.col-4 {
		@extend .gc;
		@extend .l1-2;
		@extend .d1-4;
	}

	.col-5 {
		@extend .gc;
		@extend .l1-3;
		@extend .d1-5 !optional;
	}

	.col-6 {
		@extend .gc;
		@extend .l1-3;
		@extend .d1-6 !optional;
	}

	.col-7 {
		@extend .gc;
		@extend .l1-3;
		@extend .d1-7 !optional;
	}

	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		@extend .gc;
		@extend .l1-4;
		@extend .d1-8 !optional;
	}
}

}//endif