@if $use-gravity-forms == true {



.gform_description {
	display: block;
	margin-bottom: $baseLineHeight/2;
}

// ==========================================================================
// FIELDS
// ==========================================================================

// Fields list container
.gform_fields {
	@include list-reset;
}

// Individual field
.gfield {
	padding-bottom: $baseLineHeight;
	@include clearfix;
	@include placeHolder(#ccc);
}


// ==========================================================================
// FIELD TYPES
// ==========================================================================

// SUBMIT
// ==========================================================================

.gform_button {
	@extend .btn;
	padding-top: 0;
	padding-bottom: 0;
	height: rsize(40px);
}

// FIELD DESC
// ==========================================================================

.gfield_description {
	font-size: rsize(13px);
	color: #999;
	line-height: 1.2;
	margin-top: $baseLineHeight/2;
}

// COMPLEX (eg: address...etc)
// ==========================================================================
.ginput_complex {
    label {
        font-weight: normal;
        font-size: 0.9em;
    }
}

// REQUIRED
// ==========================================================================

.gfield_required {
    color: $errorText;
    font-weight: normal;
    margin-left: 0.1em;
}




// ==========================================================================
// MESSAGES
// ==========================================================================

// ALERTS
// ==========================================================================
//
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}


// ERRORS
// ==========================================================================

.gfield_error {
	input,
	select,
	textarea {
		border-color: $errorText;
	}

	.gfield_description {
		color: $errorText;
	}
}

}//endif



