@if $use-page-layouts == true {

/* ==========================================================================
   COLUMNS
   ========================================================================== */


/* BASE
   ========================================================================== */

.column-container {
    @extend .grid;
}

.main,
.sub {
	@extend .gc;
	margin-bottom: $baseLineHeight*2;
}


/* 2 Column [Sub] Right (Default)
   ========================================================================== */


.layout-2c-r .main,
.main {
    @extend .d3-4;
    float: right;
    overflow: hidden;
}

.layout-2c-r .sub,
.sub {
	@extend .d1-4;
}


/* 2 Column [Sub] Left
   ========================================================================== */

.layout-2c-l {
	.main {
		float: left;
	}
}

// 1 Columm
// ==========================================================================

.layout-1c {
    .column-container {
        margin-left: 0; // these rules are absolutely required as, if omitted, layouts will break on Android mobile browsers 
    }

    .main,
    .sub {
        float: none;
        width: auto;
        clear: both;
        overflow: visible;
        padding-left: 0; // these rules are absolutely required as, if omitted, layouts will break on Android mobile browsers 
    }
}

}//endif


