@if $use-primary-nav == true {

// ==========================================================================
// BASE
// ==========================================================================

.menu-primary {
	position: relative;
}

.nav-primary {
	@extend %responsive-menu;

	a {
		@extend %responsive-menu__link;		
	}	
}

// TOP LEVEL ITEMS
// ==========================================================================
.nav-primary {
	@extend %responsive-menu;

	> li {
		@extend %responsive-menu__item;	

		> a {
			@extend %responsive-menu__link--top;
		}	
	}
}




// SUBMENUS
// ==========================================================================
.nav-primary .sub-menu {
	@extend .dropdown-menu !optional;

	li {
		@extend .dropdown-menu__item !optional;
	}

	a {
		@extend .dropdown-menu__link !optional;
	}
}

// Show submenu on :hover/:focus
.nav-primary li {
	@include respond-to($mobileBreak) {		
		&:hover .sub-menu,
		&:focus .sub-menu {
			display: block;
		}
	}
}



// RESPONSIVENESS
// ==========================================================================
.nav-menu-toggle {
	@extend %responsive-menu__toggle-trigger;
	position: absolute;
	right: rsize(30px);
	top: rsize(-85px);
}

}//endif