@if $use-search-form == true {

/* ##Search Form */

/* 
    <form method="get" class="search-form" action="<?php echo esc_url( home_url( '/' ) ); ?>" role="search">
        <label for="site-search-search-field" class="search-form__label"><?php _e( 'Search', 'tanlinell' ); ?></label>
        <input type="search" class="search-form__query" name="site-search-search-field" value="<?php echo esc_attr( get_search_query() ); ?>" id="s" placeholder="<?php esc_attr_e( 'Search &hellip;', 'tanlinell' ); ?>" />
        <input type="submit" class="search-form__submit" name="submit" value="<?php esc_attr_e( 'Search', 'tanlinell' ); ?>" />
    </form>
*/

.search-form {
    @extend .input-append;

    .search-form__query {
        width: 70%;
        @include rem(max-width,300px);
    }
}

.search-form__label {
    @extend .vh;
}

.search-form__query {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 80%;
    letter-spacing: normal;
    border-right: 0;
}

.search-form__submit {
    @extend .btn;
    letter-spacing: normal;
}


}//endif