@if $use-search-form == true {

/* ##Search Form */

/* 
    <form method="get" class="search-form" action="<?php echo esc_url( home_url( '/' ) ); ?>" role="search">
        <label for="site-search-search-field" class="search-form__label"><?php _e( 'Search', 'tanlinell' ); ?></label>
        <input type="search" class="search-form__query" name="site-search-search-field" value="<?php echo esc_attr( get_search_query() ); ?>" id="s" placeholder="<?php esc_attr_e( 'Search &hellip;', 'tanlinell' ); ?>" />
        <input type="submit" class="search-form__submit" name="submit" value="<?php esc_attr_e( 'Search', 'tanlinell' ); ?>" />
    </form>
*/


// ==========================================================================
// BASE
// ==========================================================================

.search-form {
    position: relative;

    .search-form__query {
        max-width: none;
    }
}

.search-form__label {
    @extend .vh;
}

.search-form__query,
.search-form__query[type="search"] {
    display: block;
    margin-bottom: 0;
    @include rem(padding-right,100px);
    letter-spacing: normal;
}

.search-form__submit {
    @extend .btn; 
    @include rem(padding,0 15px); // remove "btn" padding
    
    // Ensure button occupies height of the input
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border: 0;
    letter-spacing: normal;
}


// ==========================================================================
// MODIFIER: INLINE
// occupy only the space defined by inline-block
// ==========================================================================

.search-form--inline {
    @include inline-block;
}

}//endif