@if $use-site-logo == true {

.site-logo {
	@include inline-block;
	width: image-width($logo);
	height: image-height($logo);
	border: 0;
	padding: 0;
	margin: $baseLineHeight 0;
	vertical-align: bottom;
	text-indent: -999em; 
	text-align:left;
	direction:ltr;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: image-url($logo);
	background-size: 100%;

	&:hover,
	&:focus {
		@include opacity(0.8);	
		@include transition(opacity 0.5s ease);
	}

	@include hdpi() {
		background-image: image-url($logoRetina);
	}
}


}//endif