@if $use-social-actions == true {
/* #Social Actions */

/* Creates progressively enhanced official Twitter, Facebook and LinkedIn share icons. When JavaScript is available the default HTML is replaced using the Socialite library (https://github.com/dbushell/Socialite) which pulls in the correct social media scripts to create the official widgets */

/*
	<ul class="social-actions">
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance twitter-share" href="http://twitter.com/share" data-count="none">
			    Share on Twitter
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance facebook-like" href="http://www.facebook.com/sharer.php" data-send="false" data-show-faces="false" data-font="arial" data-count="false" data-layout="button_count">
			    Like on Facebook
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true" data-counter="false">
			    Share on LinkedIn
			</a>
		</li>
	</ul>
*/

/* #Social Actions */

/* Creates progressively enhanced official Twitter, Facebook and LinkedIn share icons. When JavaScript is available the default HTML is replaced using the Socialite library (https://github.com/dbushell/Socialite) which pulls in the correct social media scripts to create the official widgets */

/*
	<ul class="social-actions">
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance twitter-share" href="http://twitter.com/share" data-count="none">
			    Share on Twitter
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance facebook-like" href="http://www.facebook.com/sharer.php" data-send="false" data-show-faces="false" data-font="arial" data-count="false" data-layout="button_count">
			    Like on Facebook
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true" data-counter="false">
			    Share on LinkedIn
			</a>
		</li>
	</ul>
*/

.social-actions {
	@extend .inline-list !optional;
}

.social-actions__link {
	@extend .sprite !optional;
}

.social-actions__text {
	@extend .vh;
}

.social-actions {

	.twitter-share {
		@include sprite($social-action-twitter);
	}

	.facebook-like {
		@include sprite($social-action-facebook);
	}

	.linkedin-share {
		@include sprite($social-action-linkedin);
	}

	.googleplus-one {
		@include sprite($social-action-googleplus);
	}
}


// When loaded allow content to show
.socialite-loaded,
.socialite-loaded .social-actions__text {
	background: 0 !important;
	text-indent: 0 !important;
}

}//endif