@if $use-social-widgets == true {
/* ============================================================ */

// SOCIAL WIDGET

// Description: 

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================

.social-widget {
	@extend .sprite !optional;
	display: block;
}

.social-widget__text {
	@extend .vh;
	
	&.is-loaded,
	.socialite-loaded & {
		background: 0 !important;
		text-indent: 0 !important;
	}
}

.social-widget--twitter-share {
	@include sprite($social-action-twitter);
}

.social-widget--twitter-follow {
	@include sprite($social-action-twitter-follow);
}

.social-widget--facebook-like {
	@include sprite($social-action-facebook);
}

.social-widget--linkedin-share {
	@include sprite($social-action-linkedin);
}

.social-widget--googleplus-one {
	@include sprite($social-action-googleplus);
}
} //endif
