@if $use-social-share-bar == true {
/* ============================================================ */

// SOCIAL SHARE BAR

// Description: bar containing social widgets. Typically positioned
// immediately below Single Blog article content

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================

.social-share-bar {
	background-color: #fff;
	@include rem(padding,6px 25px);
	@include clearfix;
}

.social-share-bar__heading {
	@include inline-block;
	margin-bottom: 0;
	margin-right: $baseLineHeight;
	color: #1C282E;
}

.social-share-bar__heading,
.social-share-bar__body {
	@include inline-block;
	@include rem(margin-top,6px);
	@include rem(margin-bottom,6px);
}
} //endif
