/* ============================================================ */

// PAGE LAYOUT

// Description:			Page level layout styles (banner, navigation, content, contentinfo)

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================


html,
body {
    width: 100%;
    overflow-x: hidden;
}

.container {
    //@include rem(max-width,1200px);
}


// ==========================================================================
// BANNER
// ==========================================================================


// LOGO
// ==========================================================================







// ==========================================================================
// CONTENT
// ==========================================================================

.site-content {
    padding-top: $baseLineHeight;
    padding-bottom: $baseLineHeight;
}

.site-content--flush {
    padding-top: 0;
    padding-bottom: 0;
}


// PAGE LAYOUT
// ==========================================================================

.main,
.sub {

}

.main {

}

.sub {

}

// ==========================================================================
// SIDEBARS
// ==========================================================================

// All sidebar items should have this class
.sidebar {
    //@extend .island;
    //margin-bottom: $baseLineHeight*2;
}


// ==========================================================================
// CONTENTINFO (FOOTER)
// ==========================================================================







// ==========================================================================
// PAGING
// ==========================================================================

// PAGER
// ==========================================================================

/* 
.pager {
    margin-bottom: $baseLineHeight;
}

.pager__item {

    a {
        @extend .btn;
        border: 0;
    }
} 
*/


// PAGINATION
// ==========================================================================

/* 
.pagination {
    a,
    span {
        @extend .btn;
    }

    .current {
        background-color: $pColor;
        color: #fff;
    }

    .prev,
    .next {

    }

    .dots {
    }
} 
*/
