/* ============================================================ */

// PAGE LAYOUT

// Description:			Page level layout styles (banner, navigation, content, contentinfo)

/* ============================================================ */


// ==========================================================================
// BANNER
// ==========================================================================



// ==========================================================================
// PRIMARY NAVIGATION
// ==========================================================================

// ROOT
// ==========================================================================
.menu-primary {

}

// ANCHORS
// ==========================================================================

.nav-primary {

	// Global anchors
	a {
        &:hover,
        &:focus {

        }
    }

	// Top level anchors
    > li > a {

    }

	// Anchors which have a dropdown
    .sf-with-ul {

    }
}

// Top level Hover state
.nav-primary {
	> .sfHover > a {

	}
}


// Top level active items
.nav-primary {
    > .current_page_item,
    > .current_page_ancestor {
        > a {

        }
    }
}


// DROPDOWNS/SUB MENUS
// ==========================================================================

.nav-primary .sub-menu {

    li {

    }

    a {

    }

    .sub-menu {
        display: none !important;
    }
}


// ==========================================================================
// SUB NAVIGATION
// ==========================================================================

.menu-sub {
    //@extend .panel;
}

// HEADING
// ==========================================================================

.menu-sub__heading {
    //@extend .vh;
    //@extend .panel__heading;
}

// NAV
// ==========================================================================

.nav-sub {
    //@extend .panel__content;
    //@extend .block-list;

    li {

    }

    a {

    }

}

// Current/active
.nav-sub {
    .current_page_item {
        a {

        }
    }
}



// ==========================================================================
// CONTENT
// ==========================================================================

.site-content {
    padding-top: $baseLineHeight;
    padding-bottom: $baseLineHeight;
}

.site-content--flush {
    padding-top: 0;
    padding-bottom: 0;
}


// PAGE LAYOUT
// ==========================================================================

.main,
.sub {

}

.main {

}

.sub {

}

// ==========================================================================
// SIDEBARS
// ==========================================================================

// All sidebar items should have this class
.sidebar {
    //@extend .island;
    //margin-bottom: $baseLineHeight*2;
}


// ==========================================================================
// CONTENTINFO (FOOTER)
// ==========================================================================







// ==========================================================================
// PAGING
// ==========================================================================

// PAGER
// ==========================================================================

/* 
.pager {
    margin-bottom: $baseLineHeight;
}

.pager__item {

    a {
        @extend .btn;
        border: 0;
    }
} 
*/


// PAGINATION
// ==========================================================================

/* 
.pagination {
    a,
    span {
        @extend .btn;
    }

    .current {
        background-color: $pColor;
        color: #fff;
    }

    .prev,
    .next {

    }

    .dots {
    }
} 
*/
