/* #Typography */
/* 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque suscipit voluptas illo maiores optio cupiditate nam repellat ad voluptatum vitae ipsum quia quae fugiat laborum architecto dignissimos sit! Facere nobis!</p>
*/

// ==========================================================================
// GLOBAL
// ==========================================================================

body {
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	color: $grayDark;
}



// ==========================================================================
// PARAGRAPHS
// ==========================================================================

p {
	margin: 0 0 $baseLineHeight;
	line-height: $baseLineHeight;
}



// ==========================================================================
// LINKS
// ==========================================================================

a {
	color: $linkColor;
}

a:hover,
a:focus {
	color: $linkColorHover;	
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active { 
	outline: none; 
}


// ==========================================================================
// LISTS
// ==========================================================================

// Typical lists
ul, ol {
  	padding: 0;
  	margin: 0 0 $baseLineHeight 25px;
}

// Nested lists
ul ul,
ul ol,
ol ol,
ol ul {
  	margin-bottom: 0;
}

ul {
  	list-style: disc;
}

ol {
  	list-style: decimal;
}

li {
  	line-height: $baseLineHeight;
}

// ==========================================================================
// BLOCKQUOTES
// ==========================================================================


blockquote, blockquote p { line-height: 1.5; color: #777; }
blockquote { margin: 0 0 ms(1); padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: ms(0) - 1; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555; }



// ==========================================================================
// IMAGES
// ==========================================================================

// Set things up for responsive
img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

// We need to revert these for Google maps cos else it breaks!
#googlemap img, object, embed { max-width: none; }
#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
