
<div class="address" itemscope="" itemtype="http://schema.org/Person">
	<strong class="address__line" itemprop="name">Company X</strong> 
	<div class="address__block" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<span class="address__line" itemprop="streetAddress">
			20341 Whitworth Institute 405 N. Whitworth
		</span>
		<span class="address__line" itemprop="addressLocality">
			Seattle
		</span>
		<span class="address__line" itemprop="addressRegion">WA</span>
		<span class="address__line" itemprop="postalCode">98052</span>
	</div>
	
	<span class="address__line" itemprop="telephone">
		<abbr class="address__abbr" title="Telephone">t:</abbr> 07380 376 398
	</span>
	<a class="address__line" href="mailto:jane-doe@xyz.edu" itemprop="email">
		<abbr class="address__abbr" title="Email">e:</abbr>
		jane-doe@xyz.edu
	</a>
</div>