<ul class="grid grid--divided">
	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Money &amp; Debt
		</a>
	</li>

	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Benefits
		</a>
	</li>

	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Housing
		</a>
	</li>

	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Employment
		</a>
	</li>

	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Relationships
		</a>
	</li>

	<li class="gc p1-2 d1-3">
		<a href="directory-results.html" style="display: block;" class="graybox img-ratio img-ratio--16-8">
			Other
		</a>
	</li>
</ul>