{% if include.heading-level == null %}
    {% assign heading-level = "h3" %}
{% else %}
    {% assign heading-level = include.heading-level %}
{% endif %}

<div class="container landmark">
	<div class="grid">
		<div class="gc l1-2">
			<aside class="island" style="background-color: #eee;">
				<{{heading-level}}>Other Areas of Advice</{{heading-level}}>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, possimus, perferendis, ducimus in ex magni delectus quidem quas eius adipisci at enim ab natus fuga amet hic nesciunt! Quis, totam.</p>

				<a class="btn " href="other-areas-of-advice.html">
					View Other Source of Advice
				</a>
				
			</aside>
		</div>
		<div class="gc l1-2">
			<aside class="island" style="background-color: #eee;">
				<{{heading-level}}>Need more advice? - Advice Guide UK</{{heading-level}}>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, possimus, perferendis, ducimus in ex magni delectus quidem quas eius adipisci at enim ab natus fuga amet hic nesciunt! Quis, totam.</p>

				<a class="btn " target="_blank" href="http://www.adviceguide.org.uk/">
					Launch Advice Guide Website
				</a>
			</aside>
		</div>
	</div>
</div>