<div class="panel">
    <h3 class="panel__heading">Authors</h3>

    <div class="panel__content">
        <ul class="item-list item-list--contracted">
        	{% for i in (1..4) %}
        	<li class="m-block m-block--ib ">
        		<a href="#">
	        		<div class="m-img mbs">
		        		<span class="media media--circle">
		        		<img src="http://www.placehold.it/64x64" alt="" class="">
		        		</span>
		        	</div>
	        		<span class="m-content mbs">Author Name</span>
        		</a>
        	</li>
        	{% endfor %}
        </ul>
    </div>
</div>