<header class="banner {{ include.classnames }} ">
    <div class="container">
        {% include logo.html %} 
        {% include toggle-menu-primary.html %}
        
        {% comment %}
        # Remove the "comment" blocks to include
        {% endcomment %}
        
        <div class="banner-navigation">
            <nav id="menu-primary" class="menu-primary menu-primary--banner">
                <ul class="nav-primary nav-primary--banner">
                    {% include primary-nav-items.html %}
                </ul>
            </nav>
        </div>
    </div>
</header>
