<header class="banner {{ include.classnames }} ">
	<div class="container">
		<a class="site-logo" href="/" title="{{ site.name }}" rel="home">
			{{ site.name }}
		</a>

		<a href="#menu-primary" class="toggle toggle--menu-primary js-menu-primary-toggle">			
		    <i class="icon icon-reorder icon--large" aria-hidden="true"></i>
		    <span class="vh">Skip to Primary Navigation</span>			
		</a>

		<div class="banner-navigation">
			{% include search.html %}
			
			<nav id="menu-primary" class="menu-primary menu-primary--banner">
				<ul class="nav-primary nav-primary--banner">

					  {% assign pages_list = site.pages %}
					  {% assign group = 'navigation' %}
					  {% include pages_list.html %}

				</ul>
			</nav>
		</div>
	</div>
</header>
