



		    {% include primary-nav--offcanvas.html %}


 			</div> <!-- /inner-wrap -->
		</div> <!-- /off-canvas-wrap -->


		<!--[if (gt IE 8) | (IEMobile)]><!-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<!--<![endif]-->


		<!--[if (gte IE 6)&(lte IE 8)]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/dist/vendor/selectivizr.js"></script>
		<![endif]-->

		<script src="assets/js/dist/vendor/foundation.min.js"></script>
		<script src="assets/js/dist/baselayer.min.js"></script>
		<script src="assets/js/dist/site.min.js"></script>

		<!--
		<script type='text/javascript'>
		(function (d, t) {
		  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		  bh.type = 'text/javascript';
		  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=njczhwfayvgpqonuldkfeg';
		  s.parentNode.insertBefore(bh, s);
		  })(document, 'script');
		</script>
		-->
	</body>
</html>