<section class="distributor">
	<h3 class="distributor__heading">Distributor</h3>
	<img class="distributor__media" src="assets/images/map.png" alt="">
	
	<article class="distributor__details">
		<h4>John Titman Racing Service Pty Ltd</h4>
		<dl class="distributor__contacts split split--alt">
			<dt class="split__title">Web</dt>
			<dd class="split__content">www.jtr.com.au</dd>
			<dt class="split__title">Phone</dt>
			<dd class="split__content">(07)32457499</dd>
			<dt class="split__title">Email</dt>
			<dd class="split__content"><a href="mailto:sales@jtr.com.au">sales@jtr.com.au</a></dd>
		</dl>
	</article>

	<article class="distributor__details mbn">
		<h4>John Titman Racing Service Pty Ltd</h4>
		<dl class="distributor__contacts split split--alt">
			<dt class="split__title">Web</dt>
			<dd class="split__content">www.jtr.com.au</dd>
			<dt class="split__title">Phone</dt>
			<dd class="split__content">(07)32457499</dd>
			<dt class="split__title">Email</dt>
			<dd class="split__content">
				<a href="mailto:sales@jtr.com.au">sales@jtr.com.au</a>
			</dd>
		</dl>
	</article>
</section>