

<div class="container landmark">
	<div class="grid grid--ib grid--divided">	
		<aside class="gc p1-2 d1-4">
			<h5 class="vh">Latest Tweets</h5>
			{% include panel-twitter.html %}
		</aside>
		
		<aside class="gc p1-2 d1-4">
			<h5 class="vh">Latest Blog Article</h5>
			{% include panel-latest-blog.html %}
		</aside>

		<aside class="gc p1-2 d1-4">
			<h5 class="vh">Talon Social Media Accounts</h5>
			{% include panel-social.html %}
		</aside>

		<aside class="gc p1-2 d1-4">
			<h5 class="vh">Talon Contact Details</h5>
			{% include panel-address.html %}
		</aside>
	</div>
</div>


<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="graybox" style="line-height: 3em;">
		Site Colophon
	</div>
</footer>



{% include offcanvas-navigation.html %}



