<aside class="row">
	<div class="columns medium-7 medium-offset-5 medium-text-right">
		<h5 class="vh">Social Media Accounts</h5>
		{% include social-icons-list.html %}
	</div>
</aside>

<footer id="colophon" class="site-footer clear" role="contentinfo">
	<div class="row">
		<p class="site-colophon site-colophon--copyright columns medium-6">
			Copyright &copy; 2014 Example Co. Ltd
		</p>

		<p class="site-colophon site-colophon--develop-credit columns medium-6 medium-text-right">
			Designed &amp; Developed by <a class="site-credit site-credit--dark" target="_blank" href="http://burfieldcreative.co.uk" title="Digital Agency Bristol">Burfield<span class="vh"> - a Digital Agency in Bristol</span></a>
		</p>

	</div>
</footer>