<aside class="container">
	<h5 class="vh">Talon Social Media Accounts</h5>
	{% include social-icons-list.html %}
</aside>

<footer id="colophon" class="site-footer clear" role="contentinfo">
	<div class="container">


		<p class="site-colophon site-colophon--copyright">
			Copyright &copy; 2014 Example Co. Ltd
		</p>

		<p class="site-colophon site-colophon--develop-credit">
			Designed &amp; Developed by <a class="site-credit site-credit--dark" target="_blank" href="http://burfieldcreative.co.uk" title="Digital Agency Bristol">Burfield<span class="vh"> - a Digital Agency in Bristol</span></a>
		</p>

	</div>
</footer>