<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>

		<meta name="viewport" content="width=device-width" initial-scale="1" />

		<script>
		// Super fast method of adding "js" class
		// http://www.456bereastreet.com/archive/201209/tell_css_that_javascript_is_available_asap/
		document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');
		</script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/css/site.css">


		<!-- CSS -->
		<!--[if (gt IE 8) | (IEMobile)]><!-->
		<link rel="stylesheet" href="assets/css/site.css">
		<!--<![endif]-->


		<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="assets/css/site-oldie.css">
		<![endif]-->

		<!-- Modernizr -->
		<script src="assets/js/dist/vendor/modernizr.min.js"></script>


		<script>
		    // Do not integrate this code into the CMS.
		    var tanlinellSiteDetails = {
		      templateDirectoryUri: ""
		    };
		  </script>


	</head>

	<body>
		<div class="off-canvas-wrap" data-offcanvas>
 			<div class="inner-wrap">