<section class="hero hero--constrained hero--16-9 landmark--major" data-anystretch style="background-image: url(http://lorempixel.com/1000/1000/sports/)">
	<div class="hero__content">
		<div class="row">
			<div class="columns medium-10 large-8">
				<div class="hero__panel">
					<header>
						<h1 class="">I need a Hero!</h1>
					</header>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, asperiores quam voluptates magni.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, culpa, vero, quidem deleniti omnis est laboriosam nobis voluptate assumenda tempore autem id expedita magnam eveniet possimus dolores sunt a perspiciatis.</p>
					<a href="#" class="btn">Call to action</a>
				</div>
			</div>
		</div>
	</div>
</section>