<form data-abide>
    <div class="row">
        <div class="large-6 columns">
            <label>Firstname <abbr title="Required field" class="required">*</abbr>
                <input type="text" required placeholder="John">
            </label>
        </div>

        <div class="large-6 columns">
            <label>Lastname <abbr title="Required field" class="required">*</abbr>
                <input type="text" placeholder="Doe">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Email <abbr title="Required field" class="required">*</abbr>
                <input type="email" required placeholder="jon@example.com">
            </label>
            <small class="error">Email addresses must be in the correct format</small>
        </div>

        <div class="large-6 columns">
            <label>Telephone <input type="number"></label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns landmark--minor">
            <label>About You <abbr title="Required field" class="required">*</abbr>
                <textarea rows="8" required placeholder="Your covering letter content..."></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns landmark--minor">
            <label>Upload your CV <abbr title="Required field" class="required">*</abbr>
                <input type="file" required placeholder="jon@example.com">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <button class="button small" type="submit">Send Application</button>
        </div>
    </div>
</form>