<div class="pagination">
	<ul class="page-numbers">
		<li>
			<a class="prev page-numbers" href="http://www.mxvice.com/category/features/page/2/">&lt;</a>
		</li>
		<li>
			<span class="page-numbers current">1</span>
		</li>
		<li>
			<a class="page-numbers" href="http://www.mxvice.com/category/features/page/2/">2</a>
		</li>
		<li>
			<span class="page-numbers dots">…</span>
		</li>
		<li>
			<a class="page-numbers" href="http://www.mxvice.com/category/features/page/190/">190</a>
		</li>
		<li>
			<a class="next page-numbers" href="http://www.mxvice.com/category/features/page/2/">&gt;</a>
		</li>
	</ul>
</div>