<article class="panel">
	<figure class="img-thumb text-center">
		<span class="media media--circle">
			<img src="http://www.placehold.it/70x70" alt="">
		</span>
	</figure>
	
	<h6>Article heading about time</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, voluptatibus, est id suscipit dolorum vitae deleniti quam veritatis.</p>

	<footer class="byline byline--dark">
		<p>
			<span class="byline__section">Posted in <a href="#">Foo</a></span>
			<span class="byline__section">on 19/02/14</span>
			<span class="byline__section">by <a href="#">James Burfield</a></span>
		</p>
	</footer>

	<a href="#" class="btn btn-small btn-full">Continue Reading ></a>
</article>