<div class="site-twitter">
	<article class="site-twitter__body panel">
		<div class="m-block m-block--ib mbs">
			<figure class="m-img mbm">
				<span class="media media--circle">
					<img src="http://www.placehold.it/70x70" alt="">
				</span>
			</figure>
			
			<header class="m-content mbm">
				<h6>Talon Engineering</h6>
				<a class="site-twitter__username" href="#">@TalonEng</a>
			</header>
		</div>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, vitae, mollitia totam iste veniam omnis est. Debitis, voluptatum, expedita, consequatur officia ducimus commodi odit velit aliquid quod ipsam dolorem adipisci?</p>
	</article>

	<div class="site-twitter__actions panel">

		<a class="fr social-widget social-widget--twitter-follow twitter-follow socialite" href="https://twitter.com/intent/user?screen_name=###########" data-count="none">
            <span class="social-widget__text">Follow on Twitter</span>
        </a>
		
		<h6>Follow Us</h6>
	</div>
</div>