<div class="panel">
    <ul class="social-icons">
    	<li class="social-icons__item social-icons__item--facebook">
			<a href="#" class="social-icons__link">
				<i class="icon icon-facebook social-icon social-icon--facebook social-icons__icon" aria-hidden="true"></i>
				<span class="social-icons__name">Facebook</span>
			</a>
		</li>

		<li class="social-icons__item social-icons__item--instagram">
			<a href="#" class="social-icons__link">
				<i class="icon icon-instagram social-icon social-icon--instagram social-icons__icon" aria-hidden="true"></i>
				<span class="social-icons__name">Instagram</span>
			</a>
		</li>

		<li class="social-icons__item social-icons__item--vimeo">
			<a href="#" class="social-icons__link">
				<i class="icon icon-vimeo social-icon social-icon--vimeo social-icons__icon" aria-hidden="true"></i>
				<span class="social-icons__name">Vimeo</span>
			</a>
		</li>
    </ul>
</div>