{% if include.product-image == null %}
	{% assign product-image = '' %}
{% else %}
  	{% assign product-image = include.product-image %}
{% endif %}

<article class="product-type feature-block {{ include.classnames }}">

	<div class="feature-block__media" style="background-image: url('/assets/images/product-image-{{product-image}}.jpg');">
		
	</div>

	<div class="feature-block__body">

		<h2 class="feature-block__heading feature-block__heading--has-link">
			<a href="product-detail.html">Product Type Name</a>
		</h2>

		<div class="product-type__content feature-block__content">
		    <p>
		    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eaque molestiae reprehenderit et possimus nobis quidem illo quos voluptate dolorem. Dignissimos cumque aperiam numquam maxime fugiat quasi iusto beatae nobis?
		    </p>

		    <a href="product-detail.html" class="btn">Button >></a>
		</div>

	</div>
</article>