<div class="person">
	<figure class="person__media">
		<span>
			<img src="http://www.placehold.it/160x160" alt="">
		</span>
	</figure>

	<h3 class="person__name">First Name</h3>
	<div class="person__body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, doloremque eveniet dolorem dolor excepturi? Doloremque, pariatur, facilis, corporis hic consequuntur nesciunt deserunt ex quidem dolorem provident deleniti ipsum ratione atque.</p>
	</div>
	
	<div class="person__social">
		<a href="#" class="icon-fallback-text">
		    <i class="icon icon-facebook social-icon social-icon--small social-icon--facebook" aria-hidden="true"></i><!--
		--><span class="text">Facebook</span>
		</a>
	
		<a href="#" class="icon-fallback-text">
		    <i class="icon icon-twitter social-icon social-icon--small social-icon--twitter" aria-hidden="true"></i><!--
		--><span class="text">Twitter</span>
		</a>			
	</div>
</div>