<ul class="social-icons-list social-icons-list--no-text">
	<li class="social-icons-list__item social-icons-list__item--facebook">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-facebook social-icon social-icon--facebook social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Facebook</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--instagram">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-instagram social-icon social-icon--instagram social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Instagram</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--vimeo">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-vimeo social-icon social-icon--vimeo social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Vimeo</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--linkedin">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-linkedin social-icon social-icon--linkedin social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">LinkedIn</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--youtube">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-youtube social-icon social-icon--youtube social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">YouTube</span>
		</a>
	</li>

	<li class="social-icons-list__item social-icons-list__item--google-plus">
		<a href="#" class="social-icons-list__link">
			<i class="icon icon-google-plus social-icon social-icon--google-plus social-icons-list__icon" aria-hidden="true"></i>
			<span class="social-icons-list__name">Google+</span>
		</a>
	</li>
</ul>
