<li>
	<a href="#">Nav Item</a>
</li>

<li>
	<a href="#">Nav Item</a>
</li>

<li>
	<a href="#">Nav Item</a>

	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page ">
			<a href="#">Sub Nav Item #1</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page ">
			<a href="#">Sub Nav Item #2</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page ">
			<a href="#">Sub Nav Item #3</a>
		</li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page ">
			<a href="#">Sub Nav Item #4</a>
		</li>
	</ul>
</li>

<li>
	<a href="#">Nav Item</a>
</li>

<li>
	<a href="#">Nav Item</a>
</li>


<li>
	<a href="#">Nav Item</a>
</li>