/* #Block Lists */
/* 
Vertically stacked blocky lists of content. Ideal for sub navigation or similar.
Borrowed from inuit.css
*/

/*
    <ul class="block-list">
        <li>Foo</li>
        <li>Bar</li>
        <li>Baz</li>
        <li><a href="#" class="block-list-link">Foo Bar Baz</a></li>
    </ul>
*/



.block-list {
    list-style:none;
    margin-left:0;
    padding-left: 0;

    li {
        clear: both;
    }
    
    a {
        @extend .block-list-link;
    }    
}

.block-list-link {
    display:block;
    padding: $halfSpacingUnit +px;
}