/* #Images */

/* Common styling patterns for images to be applied to `<img` elements. */
/* Please note that `.img-rounded` and `.img-circle` do not work in IE7-8. */

// BASE
%img-base {
    // Do not apply display: inline-block; here else it breaks Responsive Images max-width: 100%;
}

/* ##Rounded */
/*
    <img src="http://www.placehold.it/200x200" class="img-rounded" />
*/

.img-rounded {
    @extend %img-base;
    @include border-radius(6px);
}

/* ##Poloroid */
/*
    <img src="http://www.placehold.it/200x200" class="img-polaroid" />
*/

.img-polaroid {
    @extend %img-base;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.1) );
}


/* ##Circle */
/*
    <img src="http://www.placehold.it/200x200" class="img-circle" />
*/
.img-circle {
    @extend %img-base;
    @include border-radius(500px);
}