/* #Island and Islet */

/* Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object. `@extend` me in your site styles */

/* ##Island */
/*
    <div class="island">
        I am boxed off.
    </div>
*/


.island,
.islet{
    display:block;
    margin-bottom: $baseLineHeight;
    @extend .clearfix;
}

.island {
    padding: $halfSpacingUnit +px $spacingUnit +px;
}

.island > :last-child,
.islet > :last-child {
    margin-bottom:0;
}


/* ##Island */
/* Just like `.island`, only less padding/smaller. */
/*
    <div class="islet">
        I am boxed off too only with less padding
    </div>
*/

.islet{
    padding: $halfSpacingUnit +px;
}


/* ##Headed Island */
/* Just like `.island`, only with a definite boxed heading */
/*
    <div class="headed-island">
        <h3 class="island-heading">I am the Island Heading</h3>
        <div class="island-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        </div>
    </div>
*/

.headed-island {
    @extend .island;
    padding: 0;

    .island-heading {
        padding: $halfSpacingUnit +px $spacingUnit +px;
        margin: 0;
        border-top: 0;
        border-bottom: 1px solid #ccc;
    }

    .island-content {
        padding: $halfSpacingUnit +px $spacingUnit +px;

        > :last-child {
            margin-bottom: 0;
        }
    }
}

