// ==========================================================================
// 
// CHECKOUT
// Styles for the Checkout template
// 
// ==========================================================================

// ==========================================================================
// CHECKOUT COLUMN LAYOUT
// ==========================================================================

.checkout {
	.col2-set {
		@extend .grid;
		margin-bottom: $baseLineHeight*2;
	}

	.col-1,
	.col-2 {
		@extend .gc;
		@extend .l1-2;
	}
}


#order_comments {
	@include rem(height,400px);
}


// ==========================================================================
// ORDER REVIEW
// ==========================================================================

#order_review {
	.product-total {
		width: 25%;
	}
	
	.cart-subtotal {
		font-size: 1.1em;
	}

	.total {
		font-size: 1.4em;
	}
}

// ORDER BUTTON
// ==========================================================================
.place-order .button {
	@extend .btn-large;
	@extend .btn-full;
	width: 100%;

	@include respond-to(small) {
		@include inline-block;
		width: auto;
	}
}



// ==========================================================================
// PAYMENT METHODS
// ==========================================================================

.payment_methods {
	@extend .grid;

	li {
		@extend .gc;
		@extend .l1-3;
		margin-bottom: $baseLineHeight/2;
	}

	label {
		overflow: hidden;
		padding: $baseLineHeight/2 0;
	}

	input {
		margin-top: $baseLineHeight/2;
		margin-bottom: $baseLineHeight/2;
	}
}

.payment_box {
	font-size: 0.9em;
}