// ==========================================================================
// 
// GENERIC
// Styles for generic elements that do not constitute a distinct UI element
// and which do not pertain directly any of the other "view" SASS partials
// 
// Do not use this as a dumping ground.
// 
// ==========================================================================


// ==========================================================================
// PRODUCT META
// ==========================================================================

.onsale {
	position: absolute;
	top: 0;
	right: 0;
	z-index: $zindex-tier-1;
		display: none;
}

.price {
	del {
		color: #ccc;
	}
}


// ==========================================================================
// PAGINATION
// ==========================================================================

.woocommerce-pagination {
	.page-numbers {
		@extend .pagination__list;
		@extend .list-unstyled;
		li {
			@extend .pagination__item;
		}

		a,
		span {
			@extend .pagination__link;
		}
	}
}