// ==========================================================================
// 
// UI
// Styles for User Interface elements utilised by WooCommerce 
// 
// ==========================================================================

// ==========================================================================
// NOTICES
// ==========================================================================

// MESSAGE
// ==========================================================================
.woocommerce-message {
	@extend .alert;	
	@extend .alert-success;	
	overflow: hidden;

	.button {
		@extend .btn-small;
		display: block;
		margin-bottom: $baseLineHeight/2;

		@include respond-to($break-small) {
			@include inline-block;
			margin-bottom: 0;
			margin-right: $baseLineHeight;
		}
	}
}

// ERROR
// ==========================================================================
.woocommerce-error {
	@extend .list-unstyled;
	li {
		@extend .alert;	
		@extend .alert-error;	
	}
}

// INFO
// ==========================================================================
.woocommerce-info {
	@extend .alert;	
	@extend .alert-info;	
}


// ==========================================================================
// BUTTONS
// ==========================================================================

.button {
	@extend .btn;
}


// ==========================================================================
// WOOCOMMERCE TABS
// ==========================================================================

.woocommerce-tabs {
	.tabs {
		@extend %tabs-list;

		li {
			@extend %tabs-list__item;
		}

		.active {
			@extend %tabs-list__item--current;
		}

		a {
			@extend %tabs-list__link;
		}
	}

	.panel {
		@extend %tabcontent;
	}
}





// ==========================================================================
// FORMS
// ==========================================================================


// CHECKBOXES
// ==========================================================================

.input-checkbox,
.input-radio {
	float: left;
	position: relative;
	@include rem(top,5px);
	margin-right: $baseLineHeight/2;
}

label.checkbox {
	overflow: hidden;
}