@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-hw9zpv');
	src:url('fonts/icomoon.eot?#iefix-hw9zpv') format('embedded-opentype'),
		url('fonts/icomoon.woff?-hw9zpv') format('woff'),
		url('fonts/icomoon.ttf?-hw9zpv') format('truetype'),
		url('fonts/icomoon.svg?-hw9zpv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-vimeo:before {
	content: "\e603";
}
.icon-youtube:before {
	content: "\e604";
}
