
.icon-linkedin:before { content: '\4c'; } /* 'L' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-googleplus-rect:before { content: '\e801'; } /* '' */