/* #Social Actions */

/* Creates progressively enhanced official Twitter, Facebook and LinkedIn share icons. When JavaScript is available the default HTML is replaced using the Socialite library (https://github.com/dbushell/Socialite) which pulls in the correct social media scripts to create the official widgets */

/*
	<ul class="social-actions">
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance twitter-share" href="http://twitter.com/share" data-count="none">
			    Share on Twitter
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance facebook-like" href="http://www.facebook.com/sharer.php" data-send="false" data-show-faces="false" data-font="arial" data-count="false" data-layout="button_count">
			    Like on Facebook
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true" data-counter="false">
			    Share on LinkedIn
			</a>
		</li>
	</ul>
*/

/* #Social Actions */

/* Creates progressively enhanced official Twitter, Facebook and LinkedIn share icons. When JavaScript is available the default HTML is replaced using the Socialite library (https://github.com/dbushell/Socialite) which pulls in the correct social media scripts to create the official widgets */

/*
	<ul class="social-actions">
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance twitter-share" href="http://twitter.com/share" data-count="none">
			    Share on Twitter
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance facebook-like" href="http://www.facebook.com/sharer.php" data-send="false" data-show-faces="false" data-font="arial" data-count="false" data-layout="button_count">
			    Like on Facebook
			</a>
		</li>
		
		<li class="social-actions__item">
			<a class="social-actions__link socialite socialite-instance linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true" data-counter="false">
			    Share on LinkedIn
			</a>
		</li>
	</ul>
*/

.social-actions {
	@extend .inline-list;
}

.social-actions__link {
	@extend .ir;
	background: image-url('social-actions-sprite.png') no-repeat 0 0;
	width: 60px;
	height: 20px;
	text-indent: 0 !important;
}

.social-actions__text {
	position: absolute;
	top: 0;
	left: -999em;
	overflow: hidden;
}

.social-actions {
	.facebook-like {
		background-position: 0 -28px;
	}

	.linkedin-share {
		background-position: 0 -56px;
	}

	.googleplus-one {
		background-position: 0 -86px;
		width: 60px;
	}
}


// When loaded allow content to show
.socialite-loaded,
.socialite-loaded .social-actions__text {
	background: 0 !important;
	text-indent: 0 !important;
}
