/* #Grid */

/* Custom grid system for rapid prototyping and quick layout solutions.

##Example 1 - fractions
	<div class="size1of2 firstcol">
		I'm the first of two grid items. I need an extra class to remove my gutter!
	</div>
	<div class="size1of2">
		I'm the second of the two grid items. No need for a second class for me!
	</div>


##Example 2 - columns
	<div class="sixcolumns firstcol">
		I'm the first of two grid items. I need an extra class to remove my gutter!
	</div>
	<div class="sixcolumns">
		I'm the second of the two grid items. No need for a second class for me!
	</div>
*/



.grid,
.grid-wrap {
	list-style:none;
    margin:0;
    padding:0;
    margin-left: -$gutter_width;
    clear: both;
	text-rendering: optimizespeed; // Protect against WebKit bug with optimizelegibility.
    @include clearfix;
}




// ==========================================================================
// MOBILE GRID
// ==========================================================================

// Add styles to all the grid classes
//#{$allGridClasses},
.gc {
    width: 100%;
    padding-left: $gutter_width;
    float: left;
    text-rendering: auto; // Reset text defaults.
    @include box-sizing(border-box);
    *behavior: url(/boxsizing.htc);
}

@if ($use-standard-breakpoints == true) {
	// Handheld Grids
	@include respond-to($break-tiny) {
		@include griddle-build($grids,'h');
		.h-grid-clear {
			clear: left;
		}
	}

	// Palm Grids
	@include respond-to($break-small) {
		@include griddle-build($grids,'p');

	}

	// Lap Grids
	@include respond-to($break-medium) {
		@include griddle-build($grids,'l');

		.h-grid-clear {
			clear: none;
		}

		.l-grid-clear {
			clear: left;
		}
	}

	// Desktop Grids
	@include respond-to($break-large) {
		@include griddle-build($grids,'d');
		.h-grid-clear,
		.l-grid-clear {
			clear: none;
		}

		.d-grid-clear {
			clear: left;
		}
	}

	// Widescreen Grids
	@include respond-to($break-xlarge) {
		@include griddle-build($grids,'w');

		.h-grid-clear,
		.l-grid-clear,
		.d-grid-clear {
			clear: none;
		}

		.w-grid-clear {
			clear: left;
		}
	}
}


// If we're in IE and JS is disabled then
// the .htc box-sizing hack won't run
// therefore we need to linearise our layout to ensure it
// doesn't break in older IE
@if ($is-oldie == true) {
    .no-js {
        .gc {
            float: none !important;
            width: 100% !important;
        }
    }
}


// ==========================================================================
// GRID MODIFIERS
// ==========================================================================


// DOUBLE GUTTER
// ==========================================================================

.grid--double-gutter,
.grid-wrap--large-gutter,
.large-gutter {
	@extend .grid;
	margin-left: -$large_gutter_width;

	> .gc {
		padding-left: $large_gutter_width;
	}
}

// HALF GUTTER
// ==========================================================================

.grid--half-gutter,
.grid-wrap--half-gutter,
.half-gutter {
	@extend .grid;
	margin-left: -$half_gutter_width;

   	> .gc {
        padding-left: $half_gutter_width;
    }
}



// NO GUTTER
// ==========================================================================

.grid--no-gutter,
.grid-wrap--no-gutter,
.no-gutter {
	@extend .grid;
	margin-left: 0;

    > .gc {
        padding-left: 0;
    }
}


// INLINE BLOCK
// ==========================================================================

.grid--ib,
.grid-ib {
    letter-spacing: -0.31em; // Remove inter-unit whitespace that appears between `inline-block` child
    word-spacing: -0.43em; //  Remove inter-unit whitespace that appears between `inline-block` child

    > .gc {
		@include inline-block;
		vertical-align: top;
        float: none;
		letter-spacing: normal; // Reset text defaults.
		word-spacing: normal; // Reset text defaults.
    }
}

// CENTERED
// ==========================================================================

.grid--center {
	@extend .grid--ib;
	text-align: center;
}

// LEFT
// ==========================================================================

.grid--left {
	@extend .grid--ib;
	text-align: left;
}


// RIGHT
// ==========================================================================

.grid--right {
	@extend .grid--ib;
	text-align: right;
}


// DIVIDED
// ==========================================================================

.grid--divided,
.grid-divide {
	> .gc {
        margin-bottom: $gutter-width;
    }
}


// VERITCAL ALIGN: MIDDLE
// ==========================================================================

.grid--middle {
	> .gc {
		vertical-align: middle;
	}
}

// VERITCAL ALIGN: BOTTOM
// ==========================================================================

.grid--bottom {
	> .gc {
		vertical-align: bottom;
	}
}



// ==========================================================================
// GRID COLUMN MODIFIERS
// ==========================================================================

.gc--center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gc--left {
	display: block;
	margin-right: auto;
}

.gc--right {
	display: block;
	margin-left: auto;
}
