/* #Helpers */

/* Set of simple classes to implement common CSS patterns */


/* ##Clearfix & Clearing */

/* ###Clearing */

/*
	<p class="clear">I will clear both sides</p>
*/

.clear {
	clear: both;
}

/*
	<p class="clear-l">I will clear to the left</p>
*/
.clear-l {
	clear: left;
}

/*
	<p class="clear-r">I will clear to the right</p>
*/
.clear-r {
	clear: right;
}

/* ###Clearfix */

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations nicolasgallagher.com/micro-clearfix-hack/ */

/*
	<div class="wrapper clearfix">
		<div class="floated-left">
			<p>I'm floated but my parent has a clearfix so I am contained</p>
		</div>

		<div class="floated-right">
			<p>I'm floated but my parent has a clearfix so I am contained</p>
		</div>
	</div>
*/


.clearfix,
.cf {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}





/* ##Floats and Alignment */

/* ###Floats */

/*
	<p class="fr">I will float to the right.</p>
*/
.fr {
	float: right;
}

/*
	<p class="fl">I will float to the left.</p>
*/
.fl {
	float: left;
}


/* ###Text Alignment */

/*
	<p class="text-right">My text is aligned right.</p>
*/
.text-right {
	text-align: right;
}

/*
	<p class="text-left">My text is aligned left.</p>
*/
.text-left {
	text-align: left;
}

/*
	<p class="text-center">My text is aligned centrally.</p>
*/
.text-center {
	text-align: center;
}


/* ##Imagery */

/* ###Image Positioning */
/*
	<img src="http://www.placehold.it/200x200" class="img-left" />
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
*/
.img-left,
.img-l,
.alignleft {
	float: left;
	margin: 0 $baseLineHeight $baseLineHeight 0;
}

/*
	<img src="http://www.placehold.it/200x200" class="img-right" />
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
*/
.img-right,
.img-r,
.alignright {
	float: right;
	margin: 0 0 $baseLineHeight $baseLineHeight;
}

/*
	<img src="http://www.placehold.it/200x200" class="img-center" />
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.</p>
*/
.img-center,
.aligncenter {
	float: none;
	margin: 0 auto $baseLineHeight auto;
	display: block;
}

/* ###Image Replacement */
/* This is a safe way to replace HTML content with an image. Advice is not to set width and height via the `style` attribute. Rather achieve this via an additional CSS rule where possible. */
/*
	<span class="img-replace" style="background-image: url(http://www.placehold.it/300x100); width: 300px; height: 100px;">
		I should be replaced with an image
	</span>
*/

.ir,
.img-replace {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before,
.img-replace:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}




/* ##Hidden Content */

/* ###Hide: Screenreaders & Browsers */
/* css-discuss.incutio.com/wiki/Screenreader_Visibility */
/*
	<p>Lorem ipsum dolor sit amet, <strong class="hidden">Hah! You are stupid but you don't know it!</strong>consequat.</p>
*/
.hidden {
    display: none !important;
    visibility: hidden;
}


/* ###Hide: Visually For Browsers */
/* Hide only visually, but have it available for screenreaders: by Jon Neal. */
/* www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/*
	<p>Lorem ipsum dolor sit amet, <strong class="vh">Hah! You are stupid but you don't know it!</strong>consequat.</p>
*/
.vh,
.v-hidden,
.screen-reader-text,
.assistive-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.vh.focusable:active,
.vh.focusable:focus
.v-hidden.focusable:active,
.v-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ###Hide: Visually From All + Maintain Layout */
/* Hide visually and from screenreaders, but maintain layout  */
/*
	<p>Lorem ipsum dolor sit amet, <strong class="invisible">Hah! You are stupid but you don't know it!</strong>consequat.</p>
*/
.invisible {
	visibility:hidden;
}



/* ##Visual */

.fade {
	color: $grayLight;
}


/* ##Resetting */

/* ###Lists */

.list-reset {
	@include list-reset;
}



