/* #Typography */
/* 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque suscipit voluptas illo maiores optio cupiditate nam repellat ad voluptatum vitae ipsum quia quae fugiat laborum architecto dignissimos sit! Facere nobis!</p>
*/

// ==========================================================================
// GLOBAL
// ==========================================================================

body {
	font-family: $baseFontFamily;
	@include rem(font-size, $baseFontSize);
	line-height: $baseLineHeight;
	color: $grayDark;
}



// ==========================================================================
// ENTRIES
// ==========================================================================

// HEADER
// ==========================================================================

// canel bottom margin when heading has meta data immediately following it
.entry-header--has-meta {
	margin-bottom: $baseLineHeight/3;

	.entry-title {
		margin-bottom: 0;
	}
}

// canel bottom margin when title has meta data immediately following it
.entry-title--has-meta {
	margin-bottom: 0;
}


// META
// ==========================================================================

.entry-meta {
	margin-bottom: $baseLineHeight;
	color: lighten($grayDark,25%);
}


// ==========================================================================
// PARAGRAPHS
// ==========================================================================

p {
	margin: 0 0 $baseLineHeight;
}

.lead {
	font-size: 1.15em;
	line-height: 1.4;
	margin-bottom: $baseLineHeight/2;

	@include respond-to($mobileBreak) {
		font-size: 1.5em;
	}
}



// ==========================================================================
// LINKS
// ==========================================================================

a {
	color: $linkColor;
}

a:hover,
a:focus {
	color: $linkColorHover;	
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active { 
	outline: none; 
}


// ==========================================================================
// LISTS
// ==========================================================================

// Standard List
// ==========================================================================

ul, ol {
  	padding: 0;
  	margin: 0 0 $baseLineHeight 25px;
}

// Nested lists
ul ul,
ul ol,
ol ol,
ol ul {
  	margin-bottom: 0;
}

ul {
  	list-style: disc;
}

ol {
  	list-style: decimal;
}

li {
  	line-height: $baseLineHeight;
}

// Unstyled List
// ==========================================================================

.list-unstyled {
	margin-left: 0;
	list-style: none;
}


// ==========================================================================
// BLOCKQUOTES
// ==========================================================================


blockquote, 
blockquote p,
q {
	line-height: 1.5; 
	color: #777; 
}

blockquote { 
	margin: 0 0 $baseLineHeight; 
	@include rem(padding,9px 20px 0 19px);
	border-left: 1px solid #ddd; 
}

blockquote cite { 
	display: block; 
	color: #555; 
	font-size: 0.9em;
	@include rem(padding-top,5px);
}

blockquote cite:before { 
	content: "\2014 \0020"; 
}

blockquote cite a, 
blockquote cite a:visited { 
	color: #555; 
}


// ==========================================================================
// ADDRESS
// ==========================================================================

address {
	margin-bottom: $baseLineHeight;
}


// ==========================================================================
// IMAGES
// ==========================================================================

// Set things up for responsive
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

// We need to revert these for Google maps cos else it breaks!
#googlemap img, object, embed { max-width: none; }
#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
.anystretch img { max-width: none;}
