// ==========================================================================
// 
// PRODUCT SINGLE
// Styles for the single Product view template
// 
// ==========================================================================

// ==========================================================================
// PRODUCT OVERVIEW
// ==========================================================================

.product-single__overview {
	@extend .grid;
}

// PRODUCT TITLE
// ==========================================================================
.product-single__title {
	@extend .entry-title--has-meta;
}


// SECTION LAYOUT
// ==========================================================================
.product-single__overview .images {
	@extend .gc;
	@extend .l1-2;
	@extend .d1-3;
	@extend .w1-2;
}

.product .summary {
	@extend .gc;
	@extend .l1-2;
	@extend .d2-3;
	@extend .w1-2;
	margin-bottom: $baseLineHeight;
}


// MINI CART
// ==========================================================================
.product-single__overview {
	.quantity {
		@include inline-block;
		margin-bottom: $baseLineHeight;

		@include respond-to(large) {
			margin-bottom: 0;
			margin-right: $baseLineHeight/2;
		}
	}

	.single_add_to_cart_button {
		width: 100%;
		display: block;

		@include respond-to(large) {
			@include inline-block;
			width: auto;
			margin-bottom: 0;
		}
	}
}

// PRODUCT META
// ==========================================================================

.product-single__overview .product_meta {
	color: #777;
	font-size: 0.9em;
}


// PRODUCT VARIATIONS
// ==========================================================================

.single_variation {
	margin-bottom: $baseLineHeight;
}

.variations {
	th,
	td {
		border: 0;
		padding: 0;
		vertical-align: top;
		display: list-item;
		text-align: left;
	}

	.label {
		width: 10%;
		@include rem(padding-top,8px);
		padding-right: $baseLineHeight/2;

	}

	.value select {
		@include rem(padding-top,5px);
		@include rem(padding-bottom,5px);

	}

	.reset_variations {
		clear: both;
		display: block;
		font-size: 0.9em;
		padding: 0.1em 0;
	}
}


// ==========================================================================
// PRODUCT IMAGERY
// ==========================================================================

// FEATURED IMAGE
// ==========================================================================
.woocommerce-main-image {
	@extend .img-thumb;
	@extend .img-polaroid;
	display: block;
}

// THUMBNAILS
// ==========================================================================
.product-single__overview .thumbnails {
	@extend .grid;

	a {
		@extend .gc;
		@extend .h1-3;
		@extend .w1-4;
	}

	img {
		@extend .img-thumb;
		@extend .img-polaroid;
		display: block;
	}
}


// ==========================================================================
// PRODUCT DETAILS
// ==========================================================================

.product-single__details {
	@extend .grid;
}

.product-single__tabs {
	@extend .gc;
	margin-bottom: $baseLineHeight*2;
}

// PRODUCT RELATED
// ==========================================================================
.product-single__details .related {
	@extend .gc;

}

// PRODUCT UPSELLS
// ==========================================================================
.product-single__upsells {
	@extend .gc;

}


// ==========================================================================
// REVIEWS
// ==========================================================================

// LISTING
// ==========================================================================
.commentlist {
	@extend .item-list;
	padding-top: $baseLineHeight;
}

// COMMENT ITEM
// ==========================================================================

.comment_container {
	max-width: 45em;
}


// AVATAR
// ==========================================================================
.comment_container .avatar {
	@extend .img-polaroid;
	display: block;
	margin: 0 auto $baseLineHeight/2 auto;

	@include respond-to(small) {
		float: left;
		margin-right: $baseLineHeight;
		@include rem(margin-top,2px);
	}
}

// TEXT
// ==========================================================================
.comment-text {
	overflow: hidden;
}


// REVIEW
// ==========================================================================
.comment-text .star-rating {
	display: block;
	margin: 0 auto $baseLineHeight/2 auto;

	@include respond-to(small) {
		float: right;
	}
}

// META
// ==========================================================================
.comment-text .meta {
	margin-bottom: $baseLineHeight/3;
}


// REVIEW FORM
// ==========================================================================

$starWidth: 1.2em;

.comment-form-rating .stars {
	@extend %star-rating;
	display: block;

	a {
		@extend %star-rating__overstar;

		&:before {
			display: none;
		}
	
		&:hover,
		&:focus {
			&:before {
				display: block;
			}
		}

		&:active {
			@include opacity(.5);
		}
	}

	.active {
		&:before {
			display: block;
		}
	}

	a.star-1 { width: $starWidth; z-index: 10;}
	a.star-2 { width: 2.6em; z-index: 9;}
	a.star-3 { width: 3.9em; z-index: 8;}
	a.star-4 { width: 5.2em; z-index: 7;}
	a.star-5 { width: 6.4em; z-index: 6;}
}

#commentform .form-submit input {
	@extend .btn;
}