---
layout: 1col-flush
title: About
---

<main class="main">
	<section class="landmark">
		<img class="aligncenter" src="http://www.placehold.it/1600x900" alt="">
	</section>

	<div class="container">
		<section class="landmark">
			<h1 class="divider-heading h2">About Talon</h1>
			<div class="grid">
				<div class="gc l1-2">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, voluptatibus, nesciunt nisi similique magnam quo illum expedita facere animi odio impedit nemo optio adipisci repellendus itaque. Illo voluptate eos ratione.
					</p>

					<p>
						Illum expedita facere animi odio impedit nemo optio adipisci repellendus itaque. Illo voluptate eos ratione.
					</p>
				</div>
				<div class="gc l1-2">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, voluptatibus, nesciunt nisi similique magnam quo illum expedita facere animi odio impedit nemo optio adipisci repellendus itaque. Illo voluptate eos ratione.
					</p>

					<p>
						Illum expedita facere animi odio impedit nemo optio adipisci repellendus itaque. Illo voluptate eos ratione. Expedita facere animi odio impedit nemo optio adipisci repellendus itaque. Illo voluptate eos ratione.
					</p>
				</div>
			</div>
		</section>

		<section>
			<h2 class="divider-heading">Team</h2>
			
			<ul class="grid grid--divided grid--center">
				{% for i in (1..9) %}
				<li class="gc p1-2 d1-3 w1-4">
					{% include rider.html %}
				</li>
				{% endfor %}
			</ul>
		</section>

		<aside class="container container--reduced">
			{% include cta.html cta-title="View <strong>Vaccancies</strong>" %}
		</aside>

	</div>
</main>





