---
layout: 2col
title: Blog
group: "navigation"
---

<main class="main">
	<h1 class="vh">Blog Archive</h1>
	<ul class="article-list item-list">
		{% for i in (1..10) %}
		<li class="article-item list-item">
			<article class="archive-post">
				<div class="archive-post__author media--circle">
					<img src="http://www.placehold.it/120x120" alt="">
				</div>
				
				<div class="archive-post__body">
					<header class="archive-post__header">
						<h2 class="archive-post__title">
							<a href="blog-single.html">Blog Article Title of variable length so this text is long enough to test it's limitations</a>
						</h2>
					</header>

					{% include byline.html %}

					<figure class="archive-post__featured-media">
						<img src="http://www.placehold.it/540x304" alt="">
					</figure>
					
					<div class="archive-post__excerpt">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, quia, odio, quam, dolore impedit non ducimus dolorem rem corrupti cupiditate nisi minima incidunt dolor nobis exercitationem quisquam esse. Aliquam, quaerat.
						</p>
					</div>

					<p>
						<a href="blog-single.html">Continue Reading &gt;</a>
					</p>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>

	{% include pagination.html %}
</main>

<div class="sub">
	Sub Panels
</div>





