---
layout: 1col
title: Disciplines
group: "navigation"
---

<main class="main">
	<div class="container">
		<ul class="grid grid--divided">
		{% for i in (1..8) %}
		<li class="gc p1-2 d1-3 w1-4">
			<div class="box">
				<img class="feature-box__media" src="/assets/images/product-image.jpg" alt="">
				<h4 class="box__heading">Discipline name</h4>
			</div>
			<ul class="inline-list mtl">
				{% for i in (1..8) %}
				<li class="inline-list__item mbl">
					{% include boxed-icon.html %}
				</li>
				{% endfor %}
			</ul>
			
		</li>
		{% endfor %}
		</ul>
	</div>

	<aside class="container container--reduced">
		{% include cta.html %}
	</aside>
	
</main>





