---
layout: default
title: Home
---

<section class="home-hero fullscreen__canvas js-home-hero" data-stretch-default="/assets/images/fullscreen.jpg" data-stretch-1="/assets/images/fullscreen.jpg" data-stretch-2="/assets/images/fullscreen.jpg" data-stretch-3="/assets/images/fullscreen.jpg">
	<header class="home-hero__header">
		<h1 class="home-hero__title"><strong>The Pro&rsquo;s Choice</strong> - <span class="">Designed &amp; Manufactured in England</span></h1>
	</header>
</section><!-- should contain all content requiring "full screen" -->


	<div class="site-content layout-1c">
		<div class="column-container ">
			<main class="main">
				<section class="container">
					<h2 class="vh">Talon Products</h2>

					<section class="">
						<h3 class="vh">Primary Products</h3>

						<ul class="grid grid--divided">
							{% for i in (1..2) %}
							<li class="gc l1-2">
								{% include feature-box.html %}
							</li>
							{% endfor %}
						</ul>
					</section>

					<section>
						<h3 class="vh">Other Products</h3>
						<ul class="grid grid--divided">
							{% for i in (1..6) %}
							<li class="gc p1-2 w1-3">


								{% include cta-product.html %}


							</li>
						{% endfor %}
						</ul>
					</section>
				</section>

				<div class="container">
					<div class="grid grid--divided">
						<aside class="gc p1-2">
							{% include cta.html cta-icon="product-finder" %}
						</aside>

						<aside class="gc p1-2">
							{% include cta.html cta-icon="brochure" %}
						</aside>
					</div>
				</div>

			</main>
		</div>
	</div>







