---
layout: 1col
title: Jobs
---

<main class="main">
	<div class="container">
		<h1>Jobs &amp; Vacancies</h1>
		<ul class="jobs-list item-list item-list--expanded">
			{% for i in (1..10) %}
			<li class="jobs-list__item list-item">
				<article class="grid">
					<div class="gc l2-3 w3-4">
						
						<h2>Job Title for something</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, eveniet, iste, aspernatur, voluptatem voluptates perspiciatis ullam praesentium nobis odit error voluptatum dolorum id laborum quibusdam veniam odio in ducimus deserunt.</p>
						
					</div>

					<div class="gc l1-3 w1-4">
						<a href="#" class="btn btn-full">Apply Now</a>
					</div>
				</article>
			</li>
			{% endfor %}
		</ul>

		{% include pagination.html %}
	</div>
</main>





