@if $use-blockquotes == true {

blockquote, 
blockquote p,
q {
	line-height: 1.5; 
	color: #777; 
}

blockquote { 
	margin: 0 0 $baseLineHeight; 
	@include rem(padding,9px 20px 0 19px);
	border-left: 1px solid #ddd; 
}

blockquote cite { 
	display: block; 
	color: #555; 
	font-size: 0.9em;
	@include rem(padding-top,5px);
}

blockquote cite:before { 
	content: "\2014 \0020"; 
}

blockquote cite a, 
blockquote cite a:visited { 
	color: #555; 
}

} //endif