@if $use-block-list == true {
/* #Block Lists */
/*
Vertically stacked blocky lists of content. Ideal for sub navigation or similar.
Borrowed from inuit.css
*/

/*
    <ul class="block-list">
        <li>Foo</li>
        <li>Bar</li>
        <li>Baz</li>
        <li><a href="#" class="block-list-link">Foo Bar Baz</a></li>
    </ul>
*/



.block-list {
    list-style:none;
    margin-left:0;
    padding-left: 0;

    li {
        @extend .block-list__item;
    }

    a {
        @extend .block-list__link;
    }
}

.block-list__item {
    clear: both;
}

.block-list__link {
    display:block;
    padding: $baseLineHeight/3 $baseLineHeight/2;
}

.block-list--flush-h .block-list__link,
.block-list__link--flush-h,
a.block-list__link--flush-h {
    padding-left: 0;
    padding-right: 0;
}

.block-list--flush-v .block-list__link,
.block-list__link--flush-v,
a.block-list__link--flush-v {
    padding-top: 0;
    padding-bottom: 0;
}

}//endif