@if $use-breadcrumbs == true {
/* #Breadcrumbs */

/* Standard Breadcrumb navigation for assisting users with establishing their position within the website hierarchy

	<ul class="breadcrumbs">
	    <li>
	        <a href="#">Home</a>
	    </li>
	    <li>
	        <a href="#">Crumb</a>
	    </li>
	    <li>
	        <a href="#">Crumb</a>
	    </li>
	    <li class="current">
	        <a href="#">Current Crumb</a>
	    </li>
	</ul>
*/


// ==========================================================================
// BASE
// ==========================================================================

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	
	li {
		float: left;
		margin-bottom: 0;
	}

	a,
	.trail-end,
	.sep {
		position: relative;		
		@include rem(padding,10px 8px);
		text-decoration: none;
		@include inline-block;		
		vertical-align: middle;
	}

	// Current item
	.current a {
		color: #999;
		//background: transparent;

		&:before,
		&:after {
			display: none;
		}
	}
}

.breadcrumbs li:first-child a,
.breadcrumbs .first a {
	padding-left: 1em;
}


// ==========================================================================
// REDUCED
// ==========================================================================

.breadcrumbs--reduced {
	a,
	.trail-end,
	.sep {
		@include rem(padding,10px 1px);
	}
}


}//endif






