@if $use-buttons == true {
/* #Buttons */

/* Adding the class `.btn` to an anchor `<button>` or `<input>` provides extra visual weight and identifies the primary action in a set of buttons.

    <button class="btn primary">Primary</button>
*/


.btn {
	color: #FFF;
	display: inline-block;
	text-align: center;
	padding: rsize(10px) 15px;
    text-decoration: none;    
    font-size: 100%;
    border: 0;
    background-color: #ccc;    
}

input.btn {
	padding-top: 0;
	padding-bottom: 0;
	height: rsize(40px);
}

/* ## Button Sizes */
/* Various sizes for buttons */
/* 
	<a href="#" class="btn btn-huge">Button Huge</a>
*/
.btn-huge {
	padding-right: 40px;
	padding-left: 40px;
  	font-size: 24px;
  	line-height: 1.5;
}

/* 
	<a href="#" class="btn btn-large">Button Large</a>
*/
.btn-large {
	font-size: 123.0769230769231%;
	line-height: 1.75;
	padding-right: 20px;
	padding-left: 20px;
}

/* 
	<a href="#" class="btn btn-small">Button Small</a>
*/
.btn-small {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: rsize(5px);
	padding-bottom: rsize(5px);
  	font-size: 84.61538461538462%;
}

/* ## Button States */

/* 
	<a href="#" class="btn btn-disabled">Button Disabled</a>
*/
.btn[disabled],
.btn-disabled {
	background-image: none !important;
	@include opacity(0.65);
	cursor: default !important;

	&:active {
		@include box-shadow(none);
	}
}

/* ## Button Full */

/* 
	<a href="#" class="btn btn-full">Full Width Button</a>
*/

.btn-full {
	display: block;
}


/* ## Button Groups */

/* 
	<div class="btn-group">
	  <button class="btn">1</button>
	  <button class="btn">2</button>
	  <button class="btn">3</button>
	</div>
*/

.btn-group {
	display: inline-block;
	@include pie-clearfix;
	@include box-shadow(rgba(0,0,0,0.4) 0 1px 2px);
	@include border-radius(4px);
}

.btn-group .btn {
	float: left;
	margin-left: -1px;
	position: relative;
	@include border-radius(0);
	@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.3));

	&:active {
		@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
	}
}

.btn-group .btn:first-child {
	margin-left: 0;
	@include border-radius(4px 0 0 4px);
}

.btn-group .btn:last-child {
	@include border-radius(0 4px 4px 0);
}

// TEXT
// ==========================================================================
//
// Buttons should be able to have content (typically icons) added before and after the text content
//

.btn__text {
    @include inline-block;
}

// ICON
// ==========================================================================
.btn__icon {
    @include inline-block;
}

// ==========================================================================
// PRE/APPEND
// ==========================================================================

.btn--prepend,
.btn--append {
    position: relative;


}

// PREPEND
// ==========================================================================
.btn--prepend {
    .btn__text {
        margin-left: $baseLineHeight/2;
    }
}

// APPEND
// ==========================================================================
.btn--append {
    .btn__text {
        margin-right: $baseLineHeight/2;
    }
}

}//endif





