@if $use-code == true {

code,
pre,
kbd,
tt,
var {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code,
kbd,
tt,
var {
    @include rem(padding,0 5px);
    @include rem(margin,0 2px);
    @include rem(font-size,12px);
    color: #333;
    white-space: nowrap;
    background-color: #F8F8F8;
    border:1px solid #DDD;
    border-radius: 3px;
}

var {
    font-style: normal;
}

pre {
    display: block;
    @include rem(padding,9.5px);
    margin: 0 0 $baseLineHeight;
    color: #333333;
    @include rem(font-size,13px);
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

pre.prettyprint {
    margin-bottom: $baseLineHeight;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.pre-scrollable {
    max-height: rsize(340px);
    overflow-y: scroll;
}

}//endif