@if $use-graybox == true {
/* #Gray Box */

/* Simple background box styles. Can be applied safetly to any element. Useful for prototyping */

/* ##Gray Box */
/*
    <div class="island graybox">
        I am a prototype box
    </div>
*/

.graybox {
	background-color:rgba(0,0,0,0.15);
	background-color:#e9e9e9\9;
    color:#000;
}

}//endif