@if $use-island == true {
/* #Island and Islet */

/* Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object. `@extend` me in your site styles */

/* ##Island */
/*
    <div class="island">
        I am boxed off.
    </div>
*/


.island,
.islet{
    display: block;
    @extend .clearfix;
}

.island {
    padding: $baseLineHeight;
}

.island > :last-child,
.islet > :last-child {
    margin-bottom: 0;
}


/* ##Island */
/* Just like `.island`, only less padding/smaller. */
/*
    <div class="islet">
        I am boxed off too only with less padding
    </div>
*/

.islet {
    padding: $baseLineHeight/2;
}

}//endif