@if $use-item-list == true {
/* #Item List */

/* Create standard lists of "post"-like content. 
*/

/* ##Standard Example - Grid "Two Up" */
/*
    <ul class="item-list">
        <li>Item in the list</li>
        <li>Item in the list</li>
        <li>Item in the list</li>
        <li>Item in the list</li>
        <li>Item in the list</li>
    </ul>
*/


.item-list {
	@include list-reset;
	@include clearfix;

	> li,
	.list-item {
		margin-bottom: $baseLineHeight;
		padding-bottom: $baseLineHeight;
		@include clearfix;
	}
}

.item-list--contracted {

	> li,
	.list-item {
		margin-bottom: $baseLineHeight/2;
		padding-bottom: $baseLineHeight/2;
	}
}


.item-list--expanded {

	> li,
	.list-item {
		margin-bottom: $baseLineHeight*2;
		padding-bottom: $baseLineHeight*2;
	}
}

}//endif