// ==========================================================================

// TANLINELL NAV MENU

// Description: mixins to create 
// 1) standard menu styles
// 2) "stacked" menu style
// 3) "horiztonal" menu style
// 

// ==========================================================================

@mixin tan-nav-menu() {
	@extend %nav !optional;
	position: relative;
	background-color: $navbar-background;
	
	// ALL ANCHORS
	// ==========================================================================
	a {
		display: block;		
		@include rem(padding, 10px 20px);
		text-decoration: none;
	}
	
	// TOP LEVEL ITEMS
	// ==========================================================================
	> li {
		position: relative;
	}
}


@mixin tan-nav-menu--stacked() {
	li {
		clear: both;
	}

	a {
		text-align: left;
	}
}




@mixin tan-nav-menu--inline() { 
	
	// ALL ANCHORS
	// ==========================================================================
	a {
		text-align: center;
	}
	
	// TOP LEVEL ITEMS
	// ==========================================================================
	> li {
		float: left;
		clear: none;
	}
}