@if $use-nav == true {
/* #Nav */
/* Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction. When used on an `ol` or `ul`, this class throws the list into horizontal mode. */

/* ##Base */
/*
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
 */

%nav {
    @include list-reset;
    @extend .clearfix;
}

%nav__item {
    float: left;
}

/* ##Stacked */
/* `.nav-stacked` extends `.nav` and throws the list into vertical mode. */
/*
    <ul class="nav nav-stacked">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
*/

%nav--stacked {

}

%nav--stacked__item {
    display:list-item;
    float: none;
}

}//endif



