@if $use-pagination == true {
/* #Pagination */

/* Standard controls for navigation between "paged" content. */

/* ##Base 
	<div class="pagination">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
		  		<a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/

.pagination,
.page-links {
	margin-bottom: 1.5em;
}

.pagination {

	ul,
	ol,
	.pagination__list, .pagination-list //aliased
	{
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		@include inline-block;
	}
}

.pagination__item,
.pagination li {
	@include inline-block;
	margin-right: rsize(5px);
	margin-bottom: rsize(10px);
}

.pagination__link,
.pagination a,
.pagination span {
	display: block;
	padding: rsize(8px) rsize(12px);
	text-decoration: none;
	border: 1px solid #ccc;
	line-height: 1;
}

.pagination__link,
.pagination a {
	&:hover,
	&:focus {
		background-color: $whiteDark;
	}
}


// DISABLED
// ==========================================================================

.pagination__item--disabled,
.pagination .disabled {
	a {
		color: #ccc;
	}
}

// CURRENT
// ==========================================================================

.pagination__item--current,
.pagination .current {
	a {
		background-color: #f1f1f1;
		border-color: #a8a8a8;
		color: #666;
	}
}

// RANGE
// ==========================================================================

.pagination .range a,
.pagination .range a:hover,
.pagination .range a:focus {
	background-color: transparent;
	border-color: #ccc;
	color: #666;
}

// PREV NEXT
// ==========================================================================

.pagination__prev,
.pagination .prev, 
.pagination__next,
.pagination .next {
	a {
		border: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}



/* ## Centered */
/* 
	<div class="pagination pagination--centered">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
			  <a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/

.pagination--centered {
	text-align: center;
}


/* ##Right */

/* 
	<div class="pagination pagination--right">
		<ul>
			<li><a href="#">Prev</a></li>
			<li class="active">
			  <a href="#">1</a>
			</li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
*/

.pagination--right {
	text-align: right;
}

}//endif