@if $use-split == true {
/* #Split */

/* 
Simple split item for creating two elements floated away from one another.

Borrowed from inuit.css

https://raw.github.com/csswizardry/inuit.css/master/inuit.css/partials/objects/_split.scss
*/

/* ##Simple Split 

    <dl class="split">       
        <dt class="split-title">Burger and fries</dt>
        <dd>&pound;5.99</dd>       
        <dt class="split-title">Fillet steak</dt>
        <dd>&pound;19.99</dd>       
        <dt class="split-title">Ice cream</dt>
        <dd>&pound;2.99</dd>       
    </dl>   
*/


/* ##Split Results List

    <ol class="split results">
        <li class="first"><b class="split-title">1st place</b> Bob</li>       
        <li class="second"><b class="split-title">2nd place</b> Lilly</li>       
        <li class="third"><b class="split-title">3rd place</b> Ted</li>       
    </ol>​ 
*/


.split {
    text-align: right;
    list-style: none;
    margin-left: 0;
	padding-left: 0;
	
    .split__title {
	    text-align: left;
	    float: left;
	    clear: left;
	    padding-right: $baseLineHeight;
	}
	.split__content {
	    overflow: hidden;
	}
}
.split--alt {
    text-align: left;
}

}//endif