@if $use-toggle == true {

/* ============================================================ */

// TOGGLE

// Description: styles for standard "toggle" units. Typically
// these are "button"-like UI elements which when interacted with
// initiate a state change on another UI element. This state change
// is controlled via JavaScript

/* ============================================================ */


// ==========================================================================
// BASE
// ==========================================================================

.toggle {
	display: block;
	text-decoration: none;

	i {
		@extend .icon;
		vertical-align: middle;
	}
}

.toggle__text {
	@include inline-block;
	font-size: 100%;
}


// ==========================================================================
// MODIFIER: MENU
// a classic 3-lined "hamburger" icon to denote a togglable menu
// ==========================================================================

.toggle--menu {
	i {
		@include rem(font-size,30px);
		@extend .icon-hamburger;
	}
}



// ==========================================================================
// MODIFIER: CLOSE
// an "X" close icon. Useful for toggles that hide a visible area
// ==========================================================================

.toggle--close {
	i {
		@include rem(font-size,30px);
		@extend .icon-cross;
	}
}

.toggle--closeable.toggle--active {
	i {
		@extend .icon-cross;
	}
}

} //endif
